@model Scorecard.Models.t_Scorecard_Master_Template

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Recid)
        @Html.HiddenFor(model => model.SiteCode)
        @Html.HiddenFor(model => model.MasterCatID)
        @Html.HiddenFor(model => model.MinorCatID)
        @Html.HiddenFor(model => model.LastChangedBy)
        @Html.HiddenFor(model => model.LastChangedDate)
        @Html.HiddenFor(model => model.Confirmed)
        @Html.HiddenFor(model => model.Target)




        <div class="form-group">
            @Html.LabelFor(model => model.SiteCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.v_PTLStaff_MasterData_Plants.PlantDesc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MasterCatID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.t_Scorecard_Master_Categories.MasterCatCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinorCatID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.t_Scorecard_Minor_Categories.MinorCatCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Target, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Target)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Actual, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Actual)
                @Html.ValidationMessageFor(model => model.Actual)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments)
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexSubmit")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
